@use '../style/_variables.scss' as *;

.movie-list {
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  padding: 1rem;

  @media (min-width: 768px) {
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    padding: 2rem;
  }
}


